.aboutButton{
    position: absolute;
    bottom: 5%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 10;
    
  }

  .aboutButton button {
    font-size: 0.5rem;
    padding: 0.5rem .5rem;
  }

  .aboutDiv {
    position: absolute;
    top: 25%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .textFontMd {
    font-size: 0.75rem; /* base size */
  }

  
.aboutButton {
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 10;
}

.btn {
  background-color: #000000 !important;
  color: #ffffff !important;
  border-radius: 20px !important;
  font-size: 14px;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  border: none !important;
  box-shadow: 0px 0px 8px 5px #8FD8FF;
}

.btn1 {
  background-color: #000000 !important;
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
  border: none !important;
  border-radius: 0px;
}

.btn2 {
  background-color: #0071FF !important;
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
  border: none !important;
  border-radius: 0px;
}

.btn3 {
  background-color: #FFF !important;
  color: #585858 !important;
  font-size: 16px;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
  border: none !important;
  border-radius: 0px;
}

.aboutDiv {
  position: absolute;
  top: 25%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 10;
}


.grid {
  display: flex;
  flex-wrap: wrap; 
  gap: 2rem;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 0px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 240px;
  flex: 1 1 30%; 
  min-width: 280px;
  max-width: 450px;
}

.headerRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.iconCircle {
  width: 60px;
  height: 60px;
  background-color: #e9f2fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.card p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin: 0;
}


  
  
  @media (min-width: 512px) {
    .textFontMd {
      font-size: 1.75rem;
    }
    .aboutButton button {
      font-size: 1rem;
      padding: 0.5rem 1.5rem;
    }
  }
  
  @media (min-width: 992px) {
    .textFontMd {
      font-size: 2.25rem;
    }
  }

  