.careerBg {
    background-image: url('/assets/career.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 459px;
    padding: 60px 0; /* Optional: adds space around the content */
  }

  .careerText{
    position: relative;
    top: 65%;
    left: 5%;
    color: white;
  }