.carListBg{
    background-color: #F6F6F6;
}

.customSearchBar {
    border: 1px solid #0071FF;
    border-radius: 50px;
    overflow: hidden;
    background: #FFFFFF;
    width: 20%;
  }
  
  .searchInput {
    border: none !important;
    border-radius: 50px 0 0 50px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    background: white;
    flex: 1;
    box-shadow: none;
    color: #CDCDCD !important;
    font-size: 12px !important;
    font-weight: 500 !important;
  }
  
  .searchButton {
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px !important;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 10px !important;
    font-weight: 500 !important;
    margin: 2px !important;
  }
  
  .me1{
    font-size: 14px !important;
    font-weight: 500 !important;
    
  }
  
  .searchButton:hover {
    background-color: #0071FF;
  }

  @media (max-width: 640px) {
    .customSearchBar {
      width: 35%;
     }
  }