.contactDiv {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .customCard {
    border-radius: 20px;
    overflow: hidden;
  }

  .textFontMd {
    font-size: 0.75rem; /* base size */
  }

  @media (min-width: 512px) {
    .textFontMd {
      font-size: 1.75rem;
    }}
    @media (min-width: 992px) {
      .textFontMd {
        font-size: 2rem;
      }
    }
  
  