.careerWrapper {
    background-color: #f6f6f6;
    border-radius: 12px;
  }

  .careerDiv {
    position: absolute;
    bottom: 5%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 10;
  }
  